<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Valerie Kim</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="static/css/styles.css">
  <link rel="icon" href="favicon.ico">
  <link
    href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Dancing+Script&family=Lobster&family=Otomanopee+One&family=Yanone+Kaffeesatz:wght@300&family=Zen+Loop&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Alegreya&display=swap" rel="stylesheet">
</head>

<body>
  <div class="top-container">
    <img class="top-cloud" src="static/images/clouds.png" alt="cloud"><br><br><br>
    <h1>I'm Valerie.</h1>
    <br>
    <br>
    <h2>a <span class="backend">backend</span> developer</h2>
    <img class="bottom-cloud" src="static/images/clouds.png" alt="cloud-image">
    <img class="mountain" src="static/images/pink_mountain.png" alt="mountain-image">
  </div>
  <div class="middle-container">
    <div class="profile">
      <img src="static/images/circle-cropped.png" alt="valerie and ilu">
      <h2>Hello.</h2>
      <p>I'm Valeire Kim! Welcome to my personal website. I'm a second-year MSIM student at University of Washington, specializing in Information Security. I'm a backend
        developer who is crazy about securing the system.</p>
    </div>
    <hr>
    <div class="skills">
      <h2>My Skills.</h2>
      <div class="skill-row">
        <img class="code-img" src="static/images/code.png" alt="coding">
        <h3>Language</h3>
        <p>Python, Java, JavaScript, SQL</p>
      </div>
      <div class="skill-row">
        <img class="web-img" src="static/images/http.png" alt="web">
        <h3>Web Development</h3>
        <p>HTML, CSS, JavaScript, Node.JS, React.JS, Flask, Django</p>
      </div>
      <div class="skill-row">
        <img class="db-img" src="static/images/database-storage.png" alt="database">
        <h3>Database</h3>
        <p>MS SQL Server, MySQL, Sequalize, MongoDB, Mongoose</p>
      </div>
      <div class="skill-row">
        <img class="cloud-img" src="static/images/cloud.png" alt="cloud">
        <h3>Cloud</h3>
        <p>AWS, Azure, Heroku</p>
      </div>
    </div>
  </div>
  <hr>
  <div class="bottom-container">
    <div class="contact-me">
      <h2>Get In Touch</h2>
      <h3>If you love hot pot as much as I do</h3>
      <p>Let's talk about how awesome they are! We can chat while we eat hot pot! 🍲</p>
      <br>
      <a class="btn" href="mailto:havenkim@uw.edu">CONTACT ME</a>
    </div>
    <br>
  <div class="misc">
    <br>
    <br>
    <a class="footer-link" href="https://www.linkedin.com/in/valerie-yc-kim-ba0284171/">LinkedIn</a>
    <p class="copyright">© 2021 Valerie Kim.</p>
  </div>
</body>

</html>