body {
    background-color: #ffecf4;
}

hr {
    border: none;
    border-top: 7px dotted #c6c7c7;
    width: 8%;
}

h1 {
    color: #eb9eb7;
}

h2 {
    color: #eb9eb7;
}

h3 {
    color: #eb9eb7;
}